<head>
	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Alex Rohleder">

	<title>{{ page.title + ' - ' }} Alex Rohleder | Blog</title>

	{% if page.id %}
		<meta property="og:type" content="article">
		<meta property="article:author" content="Alex Rohleder">
		<meta property="article:section" content="{{ page.categories | join ', ' }}">
		<meta property="article:tag" content="{{ page.keywords }}">
		<meta property="og:image" content="{{ page.image | prepend: site.baseurl }}">
	{% else %}
		<meta property="og:type" content="website">
		<meta property="og:image" content="https://www.alexrohleder.com.br/img/favicon/512.jpg">
	{% endif %}

	<meta property="og:url" content="{{ page.url | replace: 'index.html', '' }}">
	<meta property="og:site_name" content="Alex Rohleder > Blog">
	<meta property="og:locale" content="pt_BR">

	{% if paginator.previous_page %}
		<link rel="prev" href="{{ paginator.previous_page_path }}">
	{% endif %}
	{% if paginator.next_page %}
		<link rel="next" href="{{ paginator.next_page_path }}">
	{% endif %}

	<!--[if lte IE 8]><script src="{{ "js/ie/html5shiv.js" | prepend: site.baseurl }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ '/css/font-awesome.min.css' | prepend: site.baseurl  }}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,800,900">
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | prepend: site.baseurl }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | prepend: site.baseurl }}" /><![endif]-->
</head>
