<!DOCTYPE HTML>
<html>
	{% include header.html %}
	<body>
		<div id="wrapper">
			{% include head.html %}
			<main id="main">
				{{ content }}
				<ul class="actions pagination">
					{% if paginator.previous_page %}
						<li><a href="{{ paginator.previous_page_path }}" class="button big previous">Página Anterior</a></li>
					{% else %}
						<li><a href="#" class="disabled button big previous">Página Anterior</a></li>
					{% endif %}
						<li>{{ paginator.page }} / {{ paginator.total_pages }}</li>
					{% if paginator.next_page %}
						<li><a href="{{ paginator.next_page_path }}" class="button big next">Próxima Página</a></li>
					{% else %}
						<li><a href="#" class="disabled button big next">Próxima Página</a></li>
					{% endif %}
				</ul>
			</main>
			{% include aside.html %}
		</div>
		{% include scripts.html %}
	</body>
</html>
